**/Builds
**/JuceLibraryCode
**/IDEWorkspaceChecks.plist
**/VisualStudio[0-9]*/Win32
**/VisualStudio[0-9]*/x64
**/LinuxMakefile
**/CodeBlocks
**/Linux
**/doxygen
**/MacOSX
**/iOS
**/.vs
._*
*.mode1v3
*.pbxuser
*.perspectivev3
*.user
*.ncb
*.suo
*.ilk
*.pch
*.pdb
*.dep
*.idb
*.manifest
*.manifest.res
*.o
*.d
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.xccheckout
*.xcscmblueprint
*.xcscheme
.DS_Store
.svn
.deps
.dirstamp
extras
profile
xcuserdata
contents.xcworkspacedata
